[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/parlaylib"]
	path = extern/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
